    <div id="editBox" class="box col" 
        data-controller="box"
        >
        {{ form_start(editForm) }}
        {{ form_row(editForm.name) }}
        <div 
        data-index="{{ editForm.list|length > 0 ? editForm.list|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(editForm.list.vars.prototype)|e('html_attr') }}"
        data-box-target="list">
            {{form_row(editForm.list)}}
        </div>
        <button type="button" data-action="click->box#addRecall"  data-collection-holder-class="recalls">Add a recall</button>
        {{ form_rest(editForm) }}
    </div>
