{{ form_start(editForm) }}
    <td>{{form_row(editForm.name)}}</td>
    <td>{{form_row(editForm.priority)}}</td>
    <td class="stateButton">{{form_row(editForm.save)}}</td>
    <td class="stateButton">{{form_row(editForm.exit)}}</td>
{{ form_rest(editForm)}}