{% extends 'base.html.twig' %}
{% block body %}
    <div id="base">
    <p>log:</p>
    {% if log is defined %}
    <p>{{log}}</p>
    {% endif %}
    <div id="appContent">
        <div id="recallsMenu" class="container">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-3">
                {{form_row(form.name)}}
                </div>
                <div class="col-3">
                {{form_row(form.new)}}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    {{form_row(form.boxName)}}
                </div>
                <div class="col-3">
                    {{form_row(form.recall)}}
                </div>
            </div>
            {{form_rest(form)}}
            {{form_end(form)}}
        </div>
        {% if boxes is defined %}
        <div id="boxes" class="container">
            <div class="row">
                {% for box in boxes %}
                    {% if editBox is defined and editBox == box %}
                    {{ include('remember/edit.html.twig') }}
                    {% else %}
                    <div class="box col">
                            <p class="boxTitle">{{box.name}}</p>
                            <a href="/delBox/{{box.id}}"><i class="bi bi-dash-circle-fill" style="font-size: 2rem; color: cornflowerblue;"></i></a>
                            <a href="/updBox/{{box.id}}"><i class="bi bi-file-check" style="font-size: 2rem; color: cornflowerblue;"></i></a>
                        <div class="recalls">
                            {% for recall in recalls %}
                                    {% if box == recall.targetBox %}
                                        <p>{{recall.name}}
                                        <a href="/delRec/{{recall.id}}"><i class="bi bi-clipboard-x" style="font-size: 2rem; color: cornflowerblue;"></i></a>
                                        </p>
                                    {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% else %}
        <p>No boxes added</p>
        {% endif %}
    </div>
    </div>
{% endblock %}