{% extends 'base.html.twig' %}
{% block body %}
    <div id="base">
    <p>log:</p>
    {% if log is defined %}
    <p>{{log}}</p>
    {% endif %}
    <div id="appContent">
        <div id="recallsMenu">
            {{ form(form) }}
            {{ form(recallForm) }} 
        </div>
        {% if boxes is defined %}
        <div id="boxes">
            {% for box in boxes %}
                <div class="box">
                    <h2>{{box.name}}</h2>
                    <div class="recalls">
                        {% for recall in recalls %}
                                {% if box == recall.targetBox %}
                                    <p>{{recall.name}}</p>
                                {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No boxes added</p>
        {% endif %}
    </div>
    </div>
{% endblock %}