{% extends 'base.html.twig' %}
{% block body %}
    <div id="base">
    <p>log:</p>
    {% if log is defined %}
    <p id="log">{{log}}</p>
    {% endif %}
    <div id="appContent">
        {% if form is defined %}
        <div id="recallsMenu" class="container">
            <h4>Box Options</h4>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-3">
                {{form_row(form.name)}}
                </div>
                <div class="col-3">
                {{form_row(form.new)}}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    {{form_row(form.boxName)}}
                </div>
                <div class="col-3">
                    {{form_row(form.recall)}}
                </div>
            </div>
            {{form_rest(form)}}
            {{form_end(form)}}            
        </div>
        {% endif %}
        {% if boxes is defined %}
        <div id="boxes" class="container">
            <div class="row">
                {% for box in boxes %}
                {#}Box is edited in the main page{#}
                    {% if editBox is defined and editBox == box %}
                    {{ include('remember/edit.html.twig') }}
                    {% else %}
                    <div 
                        data-controller="box"
                        class="box col">
                            <p class="boxTitle">{{box.name}}</p>
                            <a href="/delBox/{{box.id}}"><i class="bi bi-dash-circle-fill" style="font-size: 2rem; color: cornflowerblue;"></i></a>
                            <a href="/updBox/{{box.id}}"><i class="bi bi-gear-fill" style="font-size: 2rem; color: cornflowerblue;"></i></a>
                        <div class="recalls">
                            {% for recall in recalls %}
                                    {% if box == recall.targetBox %}
                                        {% if recall.status == "urgent" %}
                                        <div class="rec_urgent">
                                        {% elseif  recall.status == "done" %}
                                        <div data-box-target="done" class="rec_done">
                                        {% endif %}
                                        <p>{{recall.name}}
                                            <a href="/delRec/{{recall.id}}"><i class="bi bi-patch-minus-fill" style="font-size: 1.2rem; color: cornflowerblue;"></i></a>
                                            {% if recall.status == "progress" %}
                                                <a href="/updRec/{{recall.id}}/urgent"><i class="bi bi-stopwatch-fill" style="font-size: 1.2rem; color: crimson;"></i></a>
                                            {% endif %}
                                            {% if recall.status == "urgent" %}
                                            <a href="/updRec/{{recall.id}}/progress"><i class="bi bi-app-indicator" style="font-size: 1.2rem; color: burlywood;"></i></a>
                                            {% endif %}
                                            {% if recall.status != "done" %}
                                            <a href="/updRec/{{recall.id}}/done"><i class="bi bi-send-check-fill" style="font-size: 1.2rem; color: darkseagreen;"></i></a>
                                            {% endif %}
                                        </p>
                                        {% if recall.status == "urgent" or recall.status == "done" %}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                            {% endfor %}
                        <button data-action="click->box#show" id="show_button">Show done recalls</button>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% else %}
        <p>No boxes added</p>
        {% endif %}
    </div>
    </div>
{% endblock %}