{% extends 'base.html.twig' %}
{% block body %}
    <div id="base">
    <p>log:</p>
    {% if log is defined %}
    <p>{{log}}</p>
    {% endif %}
    <div id="appContent">
        <div id="recallsMenu">
            {{ form(form) }}
            {{ form(recallForm) }} 
        </div>
        {% if boxes is defined %}
        <div id="boxes" class="container">
            <div class="row">
                {% for box in boxes %}
                    <div class="box col">
                        <h3>{{box.name}}</h3>
                        <div class="recalls">
                            {% for recall in recalls %}
                                    {% if box == recall.targetBox %}
                                        <p>{{recall.name}}
                                        <a href="/del/{{recall.id}}"><i class="bi bi-battery-charging" style="font-size: 2rem; color: cornflowerblue;"></i></a>
                                        </p>
                                    {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <p>No boxes added</p>
        {% endif %}
    </div>
    </div>
{% endblock %}