{% extends 'base.html.twig' %}
{% block body %}
{% if log is defined %}
    <p class="log">{{log}}</p>
{% endif %}
{% if status is defined %}
    <h3>Status list</h3>
    <p>(Click name to set default)</p>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>name</th>
                <th>Priority</th>
                <th>Icon</th>
                <th colspan="3">Options</th>
            </tr>
        </thead>
        <tbody>
    {% for state in status %}
        {% if editState is defined and editState == state %}
            {{ include('remember/editState.html.twig') }}
        {% else %}
        <tr>
            <td><a class="stateName" href="/status/setMain/{{state.id}}">{{state.name}}</a></td>
            <td>{{state.priority}}</td>
            <td><i class="bi {{ icons[state.icon] }}" style="font-size: 1.2rem;"></i></td>
            <td>
            {% if state.active == 0 %}
                <a href="/status/active/{{state.id}}">Activate</a>
                {% else %}
                <a href="/status/deactive/{{state.id}}">Deactivate</a>
            {% endif %}
            </td>
            {% if state.id > 3 %}
            <td><a href="/status/edState/{{state.id}}">edit</td>
            <td><a href="/status/delState/{{state.id}}">delete</td>
            {% endif %}
        </tr>
        {% endif %}
    {% endfor %}
    {% if addForm is defined %}
        <tr>
        {{ form_start(addForm) }}
            <td>{{ form_row(addForm.name) }}</td>
            <td>{{ form_row(addForm.priority) }}</td>
            <td>{{ form_row(addForm.icon)}}</td>
            <td class="stateButton" colspan="2">{{ form_row(addForm.add) }}</td>
        {{ form_rest(addForm) }}
        </tr>
    {% endif %}
        </tbody>
    </table>
{% else %}
<p>No status found</p>
{% endif %}
{% if addForm is not defined %}
    <button id="create_state"><a href="status/addState">New state</a></button>
{% else %}
<a class="pageLink" href="/status">Return</a>
{% endif %}
<a class="pageLink" href="/">Go to main</a>
{% endblock %}